<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<!-- <app-customer [items]="num"></app-customer> -->

<!-- <input type="text" #input>
<button (click)="clickno(input.value)">go to child</button> -->
<!-- 
<h2>child to parent data sending => " {{child_to_parent}} "</h2>
<app-customer (dataevent)="getdata($event)"></app-customer> -->
<!-- <h1> {{ value  | slice : 0 : 3 | uppercase }}</h1> -->


<app-customer [item]="inparentdata" (dataevent)="clickchild($event)"></app-customer>



<h1>child to parent data sending : {{inparentdata2}}</h1>


<input type="text" #inp placeholder="type anything">
<button (click)="parent_to_child(inp.value)">parent to child data sending</button>
<h1>parent to child data sending : {{inparentdata  | uppercase }}</h1>

<h1> {{ value  | currency:'EUR' }}</h1>

<h3>Nested loop</h3>
<ul *ngFor="let fooddata of food_data">
  <li style="color: rgb(0, 119, 255);">
    {{fooddata.orderno}} <br>
    {{fooddata.menu}} <br>
    {{fooddata.price}} <br>
  </li>
  <ul *ngFor="let cus of fooddata.cus_data">
    <li> {{cus.cusname}} <br>
      {{cus.cusphoneno}} <br>
      {{cus.address}} <br>
    </li>

  </ul>
</ul>
<router-outlet></router-outlet>